@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

:root {
  --base-width: 1200px;
  --color-black: #000;
  --color-green: #dbea8d;
  --color-pink: #f048be;
  --color-white: #fcfcfc;
  --color-light-green: #a2c1c4;
  --color-dark-gray: #a9a9a9;
  --color-gray: #f9f8f6;
  --radius-big: 50px;
  --radius-small: 10px;
  --border: 2px solid #000;
  --light: 300;
  --medium: 500;
  --bold: 700;
  --time: .2s;
}

* {
  margin: 0 auto;
  padding: 0;
}



/* main */

a {
  color: var(--color-black);
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  font-size: 0;
}

body {
  background: var(--color-white);
  color: var(--color-black);
  font-family: 'Montserrat', sans-serif;
}

form {
  height: 100%;
}

input, textarea {
  outline: none;
}

section {
  opacity: 0;
}

.animate {
  transition: var(--time);
  opacity: 1;
}

.container {
  width: var(--base-width);
  display: flex;
}

.title {
  font-weight: var(--medium);
  font-size: 48px;
  line-height: 48px;
}

.line {
  background: var(--color-black);
  width: var(--base-width);
  height: 2px;
  position: absolute;
  margin-top: -35px;
}

.upper {
  text-transform: uppercase;
}

.button-scroll {
  border-radius: var(--radius-small);
  background: var(--color-green);
  transition: var(--time);
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  padding: 15px 20px 15px 20px;
}

.button-scroll-title {
  font-weight: var(--medium);
  font-size: 16px;
}

.button-scroll:hover {
  background: var(--color-black);
}

.button-scroll:hover .button-scroll-title {
  color: var(--color-white);
} 

.download {
  transition: var(--time);
  display: inline-block;
}

.download:before {
  position: absolute;
  content: "";
}

.download_apple, 
.download_apple:before,
.download_google, 
.download_google:before {
  height: 48px;
}

.download_apple, 
.download_apple:before  {
  width: 143px;
}

.download_google, 
.download_google:before  {
  width: 162px;
}

.download_apple {
  background: url("../img/download/en/apple-light.svg");
}

.download_google {
  background: url("../img/download/en/google-light.svg");
} 

.download_apple:hover {
  background: url("../img/download/en/apple-dark.svg");
}

.download_google:hover {
  background: url("../img/download/en/google-dark.svg");
}

.download_google,
.footer__block__link:last-of-type {
  margin-left: 5px;
}

.modal-touch {
  background: rgba(0, 0, 0, 0.2);
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 0;
}

.modal-touch-inside {
  border-radius: var(--radius-small);
  background: var(--color-white);
  position: absolute;
  padding: 30px;
  width: 500px;
  height: fit-content;
  margin: auto;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0; 
}

.modal-touch-inside-title {
  font-weight: var(--medium);
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 20px;
}

.modal-touch-inside-text {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 20px;
}

.modal-touch-inside-btn {
  background: var(--color-white);
  transition: var(--time);
  border: var(--border);
  padding: 11px 25px 11px 25px;
  cursor: pointer;
}

.modal-touch-inside-btn:hover {
  background: var(--color-black);
  color: var(--color-white);
}

/* main */



/* header */

.header {
  background: var(--color-white);
  transition: var(--time);
  position: fixed;
  width: 100%;
  z-index: 1;
  padding: 41px 0 41px 0;
}

.header__title {
  font-weight: var(--bold);
  font-size: 20px;
  line-height: 48px;
  margin-left: 0;
  margin-right: 65px;
  z-index: 1;
}

.header__block__link {
  font-weight: var(--medium);
  transition: var(--time);
  font-size: 16px;
  line-height: 16px;
  margin: 0;
}

.header__block {
  margin: 0;
}

.header__block__link:hover,
a.header__block__link_active {
  color: var(--color-light-green);
}

.header__block__button {
  font-weight: var(--medium);
  transition: var(--time);
  border: var(--border);
  font-size: 16px;
  width: 166px;
  text-align: center;
  line-height: 44px;
  display: inline-block;
  margin-left: 64px;
}

.header__menu,
.header__block__menu {
  border-radius: var(--radius-small);
  transition: var(--time);
  cursor: pointer;
  margin-top: 12px;
  width: 30px;
  height: 30px;
  margin-left: 0;
}

.header__block__menu,
.header__menu {
  display: none;
}

.header__menu_open {
  background: url("../img/icon/menu-open.svg") no-repeat center;
}

.header__block__menu_close {
  background: url("../img/icon/menu-close.svg") no-repeat center;
}

.header__block__link {
  padding: 15px;
}

.header__block__menu {
  margin-top: 24px;
  margin-left: 15px;
  margin-bottom: 30px;
}

.header__block__button:hover {
  background: var(--color-black);
  color: var(--color-white);
}

#mission:before,
#offers:before,
#platform:before,
#ads:before,
#learn:before,
#blog:before {
  display: block;
  content: "";
  height: 56px;
  padding: 56px 0 0 0;
}

.header__block__download {
  display: none;
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.header__block__title__download {
  display: none;
  font-weight: var(--medium);
  font-size: 16px;
  line-height: 16px;
  position: absolute;
  bottom: 93px;
  margin-left: 15px;
}

/* header */



/* mission */

.mission {
  padding-top: 128px;
  margin-bottom: 0px;
}

.mission__title {
  margin-bottom: 30px;
  width: 700px;
}

.mission__block {
  margin: 0;
}

.mission__block:nth-child(2) {
  width: 420px;
  height: 560px;
  margin-left: -30px;
}

.mission__block:nth-child(3) {
  margin-left: 196px;
}

.container:nth-child(2) .mission__block {
  margin-left: 490px;
  margin-bottom: 130px;
}

.mission__block__title {
  font-weight: var(--medium);
  font-size: 60px;
  line-height: 60px;
  width: 450px;
  margin-bottom: 90px;
}

.mission__block__title__text {
  margin-left: 120px;
}

.mission__block__qr {
  font-weight: var(--light);
  font-size: 18px;
  line-height: 24px;
}

.mission__block__text {
  font-weight: var(--medium);
  font-size: 26px;
  line-height: 30px;
  width: 410px;
  margin: 0;
}

.mission__block__img {
  width: 420px;
  height: 886px;
  position: absolute;
  top: 28px;
}

.mission__block__qr__img {
  margin-left: -20px;
  margin-top: 10px;
}

.mission__text {
  font-weight: var(--light);
  font-size: 18px;
  line-height: 24px;
  width: 700px;
}

.mission .container:nth-child(3) {
  display: block;
}

/* mission */



/* offers */

.offers {}

.offers .container:nth-child(2) {
  display: block;
}

.offers__title {
  margin-left: 0;
  width: 400px;
  margin-bottom: 90px;
}

.offers__block {
  background: var(--color-gray);
  border-radius: 20px;
  margin-bottom: 20px;
  display: flex;
  padding-top: 35px;
  padding-bottom: 35px;
}

.offers__block:last-of-type {
  margin-bottom: 0;
}

.offers__block__title {
  width: 280px;
}

.offers__block__text {
  padding-top: 4px;
  font-size: 32px;
  line-height: 32px;
}

.offers__block__text, 
.offers__block__title {
  font-weight: var(--medium);
}

.offers__block__tag {
  font-weight: var(--light);
  width: 320px;
}

.offers__block__tag, 
.offers__block__title {
  font-size: 20px;
  line-height: 20px;
}

/* offers */



/* ads */

.ads {}

.ads__title {
  margin: 0 0 30px 0;
}

.ads__text {
  font-weight: var(--light);
  font-size: 18px;
  line-height: 28px;
  width: 540px;
  margin-left: 0;
  margin-bottom: 45px;
} 

.ads .container:nth-child(1) {
  display: block;
}

.ads__company {
  border-radius: var(--radius-big);
  padding: 15px;
}

.container:nth-child(2) .ads__company:first-child {
  margin-right: 10px;
}

.container:nth-child(2) .ads__company {
  background: url("../img/cover/cover-1.png") no-repeat center;
  background-size: cover;
}

.container:nth-child(3) .ads__company {
  background: url("../img/cover/cover-2.png") no-repeat center;
  background-size: cover;
  width: 100%;
  margin-top: 10px;
  display: flex;
}

.container:nth-child(3) .ads__company__inside {
  width: 505px;
  margin-right: 0;
}

.container:nth-child(3) .ads__company__title {
  margin: auto 0 auto 0;
}

.ads__company__inside {
  background: var(--color-gray);
  border-radius: var(--radius-big);
  padding: 30px;
}

.ads__company__inside__title {
  font-weight: var(--bold);
  font-size: 26px;
  line-height: 26px;
  margin-bottom: 20px;
}

.ads__company__inside__text {
  font-weight: var(--light);
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 20px;
}

.ads__company__inside__social {
  display: flex;
  margin-bottom: 30px;
}

.ads__company__inside__social__title {
  background: var(--color-black);
  border-radius: var(--radius-big);
  color: var(--color-white);
  font-weight: var(--light);
  font-size: 16px;
  line-height: 16px;
  padding: 16px 24px 16px 24px;
  margin: 0;
}

.ads__company__inside__social__title:nth-child(2),
.ads__company__inside__social__title:nth-child(3) {
  margin-left: 5px;
} 

.ads__company__inside__block__ptice {
  border-radius: var(--radius-big);
  font-weight: var(--medium);
  border: var(--border);
  font-size: 16px;
  line-height: 16px;
  display: inline-block;
  padding: 14px 24px 14px 24px;
  margin: 0;
}

.ads__company__inside__block__price_active {
  background: var(--color-green);
  margin-left: 5px;
}

.ads__company__title {
  font-weight: var(--medium);
  color: var(--color-white);
  font-size: 36px;
  line-height: 36px;
  width: 250px;
  margin: 35px 10px 50px 10px;
}

.ads__company__inside__block {
  display: flex;
}

.ads__company__inside__block__text,
.ads__company__inside__social__text {
  color: var(--color-dark-gray);
  font-weight: var(--medium);
  margin-right: 0;
  line-height: 48px;
  font-size: 14px;
}

/* ads */



/* learn */

.learn {}

.learn__title {
  margin: 0 0 30px 0;
}

.learn .container {
  display: block;
}

.learn__text {
  font-weight: var(--light);
  font-size: 18px;
  line-height: 28px;
  width: 540px;
  margin-left: 0;
  margin-bottom: 45px;
} 

.learn__cover {
  border-radius: var(--radius-big);
  background: var(--color-gray);
  position: relative;
  z-index: -2;
  display: flex;
  padding: 35px;
}

.learn__cover__block__title {
  font-weight: var(--bold);
  font-size: 32px;
  line-height: 42px;
  margin-top: 80px;
  width: 445px;
  text-align: center;
  margin-bottom: 40px;
}

.learn__cover__block__text {
  font-weight: var(--light);
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 15px;
}

.learn__cover__block__price {
  color: var(--color-pink);
  font-weight: var(--medium);
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  margin-bottom: 40px;
}

.learn__cover__block__lessons {
  font-weight: var(--medium);
  font-size: 28px;
  line-height: 28px;
  text-align: center;
  width: 220px;
  margin-bottom: 35px;
}

.learn__cover__block__time {
  color: var(--color-dark-gray);
  font-weight: var(--light);
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  margin-bottom: 30px;
}

.learn__cover__block__more {
  font-weight: var(--medium);
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  width: 335px;
}

.learn__cover__block__cover:before {
  background: url("../img/icon/learn-icon-1.svg") no-repeat center;
  height: 235px;
  width: 485px;
  margin-top: 50px;
  margin-left: 30px;
  position: absolute;
  content: "";
  z-index: -1;
}

.learn__cover__block:first-of-type {
  width: 520px;
  margin: 0;
}

.learn__cover__block__img {
  width: 420px;
  height: 886px;
  position: absolute;
  margin-top: -130px;
}

.learn__cover__block__img:first-child {
  margin-left: -386px;
}

.learn__cover__block__img:last-child {
  margin-left: -65px;
}

/* learn */



/* platform */

.platform {}

.platform__title {
  margin-left: 0;
  margin-bottom: 80px;
}

.platform .container:nth-child(2) {
  display: block;
}

.platform__faq {
  border-top: 2px solid var(--color-dark-gray);
  cursor: pointer;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
}

.platform__faq__title {
  font-weight: var(--medium);
  transition: var(--time);
  font-size: 20px;
  width: 100%;
}

.platform__block {
  max-height: 0;
  overflow: hidden;
}

.platform__block__text {
  font-weight: var(--light);
  font-size: 16px;
  line-height: 24px;
  margin-right: 68px;
  padding-bottom: 50px;
}

.platform__block__text__link {
  color: var(--color-pink);
  transition: var(--time);
}

.platform__block__text__link:hover {
  text-decoration: underline;
}

.platform__line {
  width: var(--base-width);
  background: var(--color-dark-gray);
  height: 2px;
  position: absolute;
  margin-top: 0;
}

.platform__faq:after {
  font-weight: var(--medium);
  transition: var(--time);
  content: '\002B';
  font-size: 28px;
  line-height: 28px;
  position: relative;
  min-width: 28px;
  text-align: center;
}

.platform__faq_active:after {
  content: "\2212";
}

.platform__faq_active,
.platform__faq:hover .platform__faq__title, 
.platform__faq:hover:after {
  color: var(--color-light-green);
}

/* platform */



/* blog */

.blog {
  margin-bottom: 100px;
}

.blog__title {
  margin: 0 0 50px 0;
}

.blog__content__article {
  background: var(--color-gray);
  width: 560px;
  padding: 20px;
  border-radius: 30px;
  margin-bottom: 60px;
}

.blog__content__article:first-of-type {
  margin-right: 30px;
}

.blog__content__article__img {
  border-radius: var(--radius-small);
  height: 270px;
  display: block;
  width: 100%;
  margin-bottom: 15px;
}

.blog__content__article__img_cover:before {
  position: absolute;
  content: "";
  height: 270px;
  width: 545px;
}

.blog__content__article__img_cover-1:before {
  background: url("../img/icon/blog-icon-1.svg");
}

.blog__content__article__img_cover-2:before {
  background: url("../img/icon/blog-icon-2.svg");
}

.blog__content__article__title {
  font-size: 26px;
  line-height: 26px;
  margin-bottom: 20px;
  margin-top: -15px;
}

.blog__content__article__text {
  color: var(--color-dark-gray);
  font-size: 16px;
  line-height: 20px;
}

.blog__content__article__title,
.blog__content__article__text {
  font-weight: var(--medium);
  width: 420px;
  margin-left: 0;
}

.blog__content__article__tag {
  font-weight: var(--medium);
  color: var(--color-dark-gray);
  font-size: 14px;
  line-height: 16px;
  display: inline-block;
}

.blog__content__article__read__link {
  background: var(--color-light-green);
  border-radius: var(--radius-small);
  color: var(--color-white);
  transition: var(--time);
  width: 100px;
  text-align: center;
  line-height: 48px;
  font-size: 14px;
  height: 48px;
  display: flex;
  margin-right: 0;
  margin-top: -18px;
}

.blog__content__article__read__link::before {
  background: url("../img/icon/arrow.svg");
  position: absolute;
  content: "";
  width: 28px;
  height: 13px;
  margin: 5px 0 0 35px;
}

.blog__content__article__read__link:hover {
  background: var(--color-black);
}

.blog__content__article__read__link__text {
  margin-top: 6px;
  display: block;
}

.blog__more {
  color: var(--color-white);
  background: var(--color-black);
  transition: var(--time);
  font-weight: var(--medium);
  border: var(--border);
  font-size: 16px;
  display: block;
  width: 100%;
  text-align: center;
  line-height: 44px;
}

.blog__more:hover {
  background: var(--color-white);
  color: var(--color-black);
}

.blog .container:nth-child(2) {
  display: block;
}

.blog__tab {
  display: flex;
  margin-bottom: 30px;
}

.blog__tab__link:hover,
.blog__tab__link_active {
  background: var(--color-black);
  color: var(--color-white);
}

.blog__tab__link {
  transition: var(--time);
  border-radius: var(--radius-big);
  border: var(--border);
  font-weight: var(--light);
  padding-left: 25px;
  padding-right: 25px;
  line-height: 44px;
  height: 44px;
  font-size: 16px;
  margin: 0 0 0 5px;
  cursor: pointer;
}

.blog__tab__link:first-of-type {
  margin-left: 0;
}

/* blog */



/* email */

.email {
  margin-bottom: 30px;
}

.email .container {
  display: block;
}

.email__title {
  margin-bottom: 30px;
}

.email__form {
  border-radius: var(--radius-small);
  background: var(--color-gray);
  height: 446px;
}

.email__form__input, 
.email__form__textarea {
  border: 2px solid var(--color-white);
  background: var(--color-white);
  border-radius: var(--radius-small);
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
}

.email__form__submit {
  border: 2px solid var(--color-light-green);
  background: var(--color-light-green);
  color: var(--color-white);
  transition: var(--time);
  margin-left: 190px;
  width: 820px;
  cursor: pointer;
  line-height: 44px;
}

.modal-touch-inside-btn,
.email__form__input, 
.email__form__textarea,
.email__form__submit {
  font-weight: var(--medium);
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

.email__form__submit:hover {
  border: 2px solid var(--color-light-green);
  color: var(--color-light-green);
  background: var(--color-gray);
}

.email__form__input:focus,
.email__form__textarea:focus {
  border: 2px solid var(--color-light-green);
}

.email__form__input {
  width: 366px;
  line-height: 44px;
  margin-top: 70px;
}

.email__form__input:first-of-type {
  margin-right: 20px;
  margin-left: 190px;
}

.email__form__textarea {
  width: 786px;
  min-height: 136px;
  resize: none;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 190px;
}

::placeholder { 
  color: var(--color-black);
  opacity: 1;
}

:-ms-input-placeholder { 
  color: var(--color-black);
}

::-ms-input-placeholder {
  color: var(--color-black);
}

/* email */



/* footer  */

.footer {
  margin-bottom: 70px;
}

.footer__block {
  margin-left: 0;
  margin-bottom: 70px;
}

.footer__block__title {
  font-weight: var(--medium);
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 30px;
}

.footer__title {
  font-weight: var(--medium);
  font-size: 14px;
  line-height: 14px;
  margin: 0 auto 0 auto;
}

.footer__title__link {
  transition: var(--time);
}

.footer__title__link:hover {
  color: var(--color-light-green);
  text-decoration: underline;
}

.footer__block__method {
  border-radius: var(--radius-small);
  background: var(--color-gray);
  display: inline-block;
  width: 128px;
  height: 48px;
  margin: 0; 
}

.footer__block__method:before {
  height: 46px;
  width: 68px;
  position: absolute;
  content: "";
  margin: 0 0 0px 30px;
}

.footer__block__method_paypal:before  {
  background: url("../img/payment/paypal.svg");
}

.footer__block__link {
  border-radius: var(--radius-big);
  font-weight: var(--medium);
  transition: var(--time);
  border: var(--border);
  display: inline-block;
  line-height: 44px;
  font-size: 16px;
}

.footer__block__link__text {
  margin-left: 50px;
}

.footer__block__link:hover {
  color: var(--color-white);
  background: var(--color-black);
}

.footer__block__link_instagram:before {
  background: url("../img/social/instagram-dark.svg");
}

.footer__block__link_tiktok:before {
  background: url("../img/social/tiktok-dark.svg");
} 

.footer__block__link:hover.footer__block__link_tiktok:before {
  background: url("../img/social/tiktok-light.svg");
}

.footer__block__link:hover.footer__block__link_instagram:before {
  background: url("../img/social/instagram-light.svg");
}

.footer__block__link:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  margin: 12px 0 0 22px;
}

.footer__block__link_instagram {
  width: 156px;
}

.footer__block__link_tiktok {
  width: 125px;
}

/* footer */



@media screen and (max-width: 1250px) {
  .mission__block__title {
    font-size: 34px;
    line-height: 34px;
    width: 255px;
    margin-left: 0;
    margin-bottom: 60px;
  }
  
  .title {
    font-size: 30px;
    line-height: 30px;
  }

  .mission__title {
    margin-top: 30px;
  }

  .mission__block__title__text {
    margin-left: 65px;
  }

  .learn__cover__block__title,
  .ads__company__title {
    font-size: 26px;
    line-height: 26px;
  }

  .blog {
    margin-bottom: 50px;
  }

  .blog__title,
  .platform__title,
  .mission__block__text {
    margin-bottom: 30px;
  }

  .modal-touch-inside-title,
  .mission__block__text,
  .blog__content__article__title,
  .learn__cover__block__lessons,
  .ads__company__inside__title {
    font-size: 22px;
    line-height: 22px;
  }
  
  .modal-touch-inside-text {
    font-size: 18px;
    line-height: 24px;
  }

  .blog__content__article {
    margin-bottom: 30px;
  }

  .header__block__button:hover,
  .button-scroll:hover .button-scroll-title,
  .header__block__link:hover,
  .platform__faq:hover .platform__faq__title,
  .platform__faq:hover:after {
    color: var(--color-black);
  }
  
  .platform__faq.platform__faq_active:hover .platform__faq__title,
  .platform__faq.platform__faq_active:hover.platform__faq:hover:after {
    color: var(--color-light-green);
  }
 
  .blog__content__article__read__link:hover {
    background: var(--color-light-green);
  }

  .button-scroll:hover {
    background: var(--color-green);
  }

  .header__block__button:hover {
    background: var(--color-white);
  }

  .blog__more:hover {
    color: var(--color-white);
    background: var(--color-black);
  }

  .email__form__submit:hover {
    color: var(--color-white);
    background: var(--color-light-green);
  }

  .mission .mission__block:nth-child(2),
  .mission .mission__block:nth-child(3),
  .learn__cover .leart__cover__block:nth-child(2),
  .offers__block img,
  .learn__cover__block__cover:before,
  .blog__content__article__img_cover {
    display: none;
  }
  
  .blog__title,
  .ads__text,
  .learn__text,
  .learn__cover__block__title,
  .learn__cover__block:first-of-type,
  .learn__cover__block__more,
  .mission__text,
  .mission__title,
  .mission__block__text,
  .offers__title,
  .platform__block__text,
  .blog__content__article__text,
  .blog__content__article__title {
    width: 100%;
  }

  .offers__block,
  .header__block__button,
  .header__block__link,
  .container:nth-child(3) .ads__company,
  .ads .container:nth-child(2),
  .footer .container,
  .header__menu,
  .header__block__menu  {
    display: block;
  }

  .container:nth-child(3) .ads__company,
  .platform__line,
  .line,
  .header__block__button,
  .container {
    width: calc(100% - 30px);
  }

  .container:nth-child(3) .ads__company__inside {
    width: calc(100% - 60px);
  }

  .container {
    margin-left: 15px;
    margin-right: 15px;
  }

  .modal-touch-inside {
    width: calc(100% - 90px);
    margin-left: 15px;
    margin-right: 15px;
  }


  .learn__cover__block__title {
    margin-top: 0;
  }

  .mission,
  .offers__block__text {
    padding-top: 0;
  }

  .footer__block,
  .offers__title {
    margin-bottom: 30px;
  }

  .platform__block__text {
    margin-left: 0;
  }

  .blog__content__article__read__link {
    margin: auto;
  }

  .blog__content__article__read {
    background: var(--color-gray);
    border-bottom-right-radius: var(--radius-small);
    border-top-left-radius: var(--radius-small);
    width: 110px;
    height: 53px;
    padding-top: 5px;
    margin-top: -89px;
    margin-right: 0px;
    position: relative;
  }

  .ads__company__inside__social__title:before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    margin-top: 14px;
    margin-left: 14px;
  }

  .ads__company__inside__social__title:nth-child(1):before {
    background: url("../img/social/instagram-light.svg");
  }

  .ads__company__inside__social__title:nth-child(2):before {
    background: url("../img/social/tiktok-light.svg");
  }

  .ads__company__inside__social__title:nth-child(3):before {
    background: url("../img/social/youtube-light.svg");
  }

  .ads__company__inside__social__title {
    font-size: 0;
    width: 48px;
    height: 48px;
    padding: 0;
  }

  .email__form__submit {
    width: calc(100% - 46px);
    margin-left: 20px;
    margin-right: 20px;
  }

  .blog__content__article:first-of-type {
    margin-right: 0;
  }

  .container:nth-child(2) .mission__block {
    margin: auto;
  }

  .container:nth-child(2) .ads__company:first-child {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .button-scroll {
    right: 15px;
    bottom: 15px;
  }

  .blog__tab__link {
    width: 50%;
    text-align: center;
  }

  .container:nth-child(3) .ads__company__title {
    margin: 35px 10px 50px 10px;
  }
 
  .header__block__download {
    display: flex;
  }

  .header__block__title__download {
    display: block;
  }

  .platform__faq__title {
    font-size: 18px;
    width: calc(100% - 45px);
    margin-left: 0;
  }

  .header__block__button {
    margin: auto;
    margin-top: 30px;
  }

  .header__block {
    background: var(--color-white);
    transition: var(--time);
    height: calc(var(--vh, 1vh) * 100);
    position: fixed;
    width: 340px;
    left: 0;
    top: 0;
    display: block;
    transform: translateX(-100%);
  }

  .header {
    padding: 15px 0 !important;
  }

  .header__title {
    margin-left: auto;
    margin-right: 0;
  }

  .modal-touch-inside-btn:hover {
    background: var(--color-white);
    color: var(--color-black);
  }

  .modal-touch-inside-btn {
    width: 100%;
  }

  .footer__title,
  .offers__block {
    text-align: center;
  }

  .offers__block__title {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .blog__content {
    flex-direction: column;
  }

  .blog__content__article {
    width: calc(100% - 40px);
  }

  .blog__content__article__img {
    height: auto;
  }

  .email {
    margin-bottom: 60px;
  }

  .blog__content__article__title {
    margin-top: 60px;
  }

  .footer__block__link:hover.footer__block__link_tiktok:before {
    background: url("../img/social/tiktok-dark.svg");
  }
  
  .footer__block__link:hover.footer__block__link_instagram:before {
    background: url("../img/social/instagram-dark.svg");
  }

  .footer__block__link:hover {
    color: var(--color-black);
    background: var(--color-white);
  }

  .footer__title {
    line-height: 28px;
  }

  .email__form__input {
    margin-bottom: 0;
  }

  .email__form {
    height: 414px;
  }

  .email__form__input:first-of-type {
    margin-left: 20px;
    width: calc(100% - 80px);
  }

  .email__form__input, 
  .email__form__textarea {
    margin-top: 20px;
    margin-left: 20px;
    width: calc(100% - 80px);
  }

  section {
    opacity: 1
  }
}