@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

:root {
  --base-width: 1200px;
  --color-black: #000;
  --color-green: #dbea8d;
  --color-pink: #f048be;
  --color-white: #fcfcfc;
  --color-light-green: #a2c1c4;
  --color-dark-gray: #a9a9a9;
  --color-gray: #f9f8f6;
  --radius-big: 50px;
  --radius-small: 10px;
  --border: 2px solid #000;
  --light: 300;
  --medium: 500;
  --bold: 700;
  --time: .2s;
}

* {
  margin: 0 auto;
  padding: 0;
}



/* main */

a {
  color: var(--color-black);
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  font-size: 0;
}

body {
  background: var(--color-white);
  color: var(--color-black);
  font-family: 'Montserrat', sans-serif;
}

input, textarea {
  outline: none;
}

section {
  opacity: 0;
}

section.animate {
  opacity: 1;
  transition: all .5s;
}

.container {
  width: var(--base-width);
  display: flex;
}

.title {
  font-weight: var(--medium);
  font-size: 48px;
  line-height: 48px;
}

.line {
  background: var(--color-black);
  width: var(--base-width);
  height: 2px;
  position: absolute;
  margin-top: -35px;
}

.upper {
  text-transform: uppercase;
}

.button-scroll {
  border-radius: var(--radius-small);
  background: var(--color-green);
  transition: var(--time);
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  padding: 15px 20px 15px 20px;
}

.button-scroll-title {
  font-weight: var(--medium);
  font-size: 16px;
}

.button-scroll:hover {
  background: var(--color-black);
}

.button-scroll:hover .button-scroll-title {
  color: var(--color-white);
} 

.download {
  transition: var(--time);
  display: inline-block;
}

.download:before {
  position: absolute;
  content: "";
}

.download_apple, 
.download_apple:before,
.download_google, 
.download_google:before {
  height: 48px;
}

.download_apple, 
.download_apple:before  {
  width: 143px;
}

.download_google, 
.download_google:before  {
  width: 162px;
}

.download_apple {
  background: url("../img/download/en/apple-light.svg");
}

.download_google {
  background: url("../img/download/en/google-light.svg");
} 

.download_apple:hover {
  background: url("../img/download/en/apple-dark.svg");
}

.download_google:hover {
  background: url("../img/download/en/google-dark.svg");
}

.download_google,
.footer__block__link:last-of-type {
  margin-left: 5px;
}

/* main */



/* header */

.header {
  background: var(--color-white);
  transition: var(--time);
  position: fixed;
  width: 100%;
  z-index: 1;
  padding: 41px 0 41px 0;
}

.header__title {
  font-weight: var(--bold);
  font-size: 20px;
  line-height: 48px;
  margin-left: 0;
  margin-right: 55px;
}

.header__link {
  font-weight: var(--medium);
  transition: var(--time);
  font-size: 16px;
  line-height: 16px;
  padding: 16px;
  margin: 0;
}

a.header__link:hover,
a.header__link_active {
  color: var(--color-light-green);
}

.header__button {
  font-weight: var(--medium);
  transition: var(--time);
  border: var(--border);
  font-size: 16px;
  width: 166px;
  text-align: center;
  line-height: 44px;
  margin-right: 0;
}

.header__button:hover {
  background: var(--color-black);
  color: var(--color-white);
}

#mission:before,
#offers:before,
#platform:before,
#ads:before,
#learn:before,
#blog:before {
	display: block;
	content: "";
	height: 56px;
	padding: 56px 0 0 0;
}

/* header */



/* mission */

.mission {
  /* padding-top: 218px; */
  padding-top: 128px;
  margin-bottom: 0px;
}

.mission__title {
  margin-bottom: 30px;
  width: 700px;
}

.mission__block {
  margin: 0;
}

.mission__block:nth-child(2) {
  width: 420px;
  height: 560px;
  margin-left: -30px;
}

.mission__block:nth-child(3) {
  margin-left: 196px;
}

.container:nth-child(2) .mission__block {
  margin-left: 490px;
  margin-bottom: 130px;
}

.mission__block__title {
  font-weight: var(--medium);
  font-size: 60px;
  line-height: 60px;
  width: 450px;
  margin-bottom: 90px;
}

.mission__block__title__text {
  margin-left: 120px;
}

.mission__block__qr {
  font-weight: var(--light);
  font-size: 18px;
  line-height: 24px;
}

.mission__block__text {
  font-weight: var(--medium);
  font-size: 26px;
  line-height: 30px;
  width: 410px;
  margin: 0;
}

.mission__block__img {
  width: 420px;
  height: 886px;
  position: absolute;
  top: 28px;
}

.mission__block__qr__img {
  margin-left: -20px;
  margin-top: 10px;
}

.mission__text {
  font-weight: var(--light);
  font-size: 18px;
  line-height: 24px;
  width: 700px;
}

.mission .container:nth-child(3) {
  display: block;
}

/* mission */



/* offers */

.offers {
  /* margin-bottom: 170px; */
}

.offers__title {
  margin-left: 0;
  width: 400px;
  margin-bottom: 90px;
}

.offers__blank {
  line-height: 300px;
  width: 100%;
  background: var(--color-gray);
}

.offers__blank__title {
  text-align: center;
  font-weight: var(--medium);
  font-size: 30px;
}

/* offers */



/* ads */

.ads {
  /* margin-top: 100px; */
  /* margin-bottom: 80px; */
}

.ads__title {
  margin: 0 0 30px 0;
}

.ads__text {
  font-weight: var(--light);
  font-size: 18px;
  line-height: 28px;
  width: 540px;
  margin-left: 0;
  margin-bottom: 45px;
} 

.ads .container:nth-child(1) {
  display: block;
}

.ads__company {
  border-radius: var(--radius-big);
  padding: 15px;
}

.container:nth-child(2) .ads__company:first-child {
  margin-right: 10px;
}

.container:nth-child(2) .ads__company {
  background: url("../img/ads/ads-cover-1.png") no-repeat center;
  background-size: cover;
}

.container:nth-child(3) .ads__company {
  width: 100%;
  margin-top: 10px;
  display: flex;
  background: url("../img/ads/ads-cover-2.png") no-repeat center;
  background-size: cover;
}

.container:nth-child(3) .ads__company__inside {
  width: 505px;
  margin-right: 0;
}

.container:nth-child(3) .ads__company__title {
  margin: auto 0 auto 0;
}

.ads__company__inside {
  background: var(--color-gray);
  border-radius: var(--radius-big);
  padding: 30px;
}

.ads__company__inside__title {
  font-weight: var(--bold);
  font-size: 26px;
  line-height: 26px;
  margin-bottom: 20px;
}

.ads__company__inside__text {
  font-weight: var(--light);
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 20px;
}

.ads__company__inside__social {
  display: flex;
  margin-bottom: 30px;
}

.ads__company__inside__social__title {
  background: var(--color-black);
  border-radius: var(--radius-big);
  color: var(--color-white);
  font-weight: var(--light);
  font-size: 16px;
  line-height: 16px;
  padding: 16px 24px 16px 24px;
  margin: 0;
}

.ads__company__inside__social__title:nth-child(2),
.ads__company__inside__social__title:nth-child(3) {
  margin-left: 5px;
} 

.ads__company__inside__block__ptice {
  border-radius: var(--radius-big);
  font-weight: var(--medium);
  border: var(--border);
  font-size: 16px;
  line-height: 16px;
  display: inline-block;
  padding: 14px 24px 14px 24px;
  margin: 0;
}

.ads__company__inside__block__price_active {
  background: var(--color-green);
  margin-left: 5px;
}

.ads__company__title {
  font-weight: var(--medium);
  color: var(--color-white);
  font-size: 36px;
  line-height: 36px;
  width: 250px;
  margin: 35px 10px 50px 10px;
}

.ads__company__inside__block {
  display: flex;
}

.ads__company__inside__block__text,
.ads__company__inside__social__text {
  color: var(--color-dark-gray);
  font-weight: var(--medium);
  margin-right: 0;
  line-height: 48px;
  font-size: 14px;
}

/* ads */



/* learn */

.learn {
  /* margin-bottom: 150px; */
  /* margin-bottom: 50px; */
}

.learn__title {
  /* margin: 0 0 90px 0; */
  margin: 0 0 30px 0;
}

.learn .container {
  display: block;
}

.learn__text {
  font-weight: var(--light);
  font-size: 18px;
  line-height: 28px;
  width: 540px;
  margin-left: 0;
  margin-bottom: 45px;
} 

.learn__cover {
  border-radius: var(--radius-big);
  background: var(--color-gray);
  position: relative;
  z-index: -2;
  display: flex;
  padding: 35px;
}

.learn__cover__block__title {
  font-weight: var(--bold);
  font-size: 32px;
  line-height: 42px;
  margin-top: 80px;
  width: 445px;
  text-align: center;
  margin-bottom: 40px;
}

.learn__cover__block__text {
  font-weight: var(--light);
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 15px;
}

.learn__cover__block__price {
  color: var(--color-pink);
  font-weight: var(--medium);
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  margin-bottom: 40px;
}

.learn__cover__block__lessons {
  font-weight: var(--medium);
  font-size: 28px;
  line-height: 28px;
  text-align: center;
  width: 220px;
  margin-bottom: 35px;
}

.learn__cover__block__time {
  color: var(--color-dark-gray);
  font-weight: var(--light);
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  margin-bottom: 30px;
}

.learn__cover__block__more {
  font-weight: var(--medium);
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  width: 335px;
}

.learn__cover__block__cover:before {
  background: url("../img/icon/learn-icon-1.svg") no-repeat center;
  height: 235px;
  width: 485px;
  margin-top: 50px;
  margin-left: 30px;
  position: absolute;
  content: "";
  z-index: -1;
}

.learn__cover__block:first-of-type {
  width: 520px;
  margin: 0;
}

.learn__cover__block__img {
  width: 420px;
  height: 886px;
  position: absolute;
  margin-top: -130px;
}

.learn__cover__block__img:first-child {
  margin-left: -386px;
}

.learn__cover__block__img:last-child {
  margin-left: -65px;
}

/* learn */



/* platform */

.platform {
  /* margin-bottom: 125px; */
}

.platform__title {
  margin-left: 0;
  /* margin-bottom: 135px; */
  margin-bottom: 80px;
}

.platform .container:nth-child(2) {
  display: block;
}

.platform__faq {
  border-top: 2px solid var(--color-dark-gray);
  cursor: pointer;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 40px;
  display: flex;
}

.platform__faq__title {
  color: var(--color-dark-gray);
  font-weight: var(--medium);
  font-size: 24px;
  line-height: 28px;
  margin-left: 0;
  min-width: 310px;
}

.platform__faq__text {
  font-weight: var(--medium);
  font-size: 20px;
  margin-left: 100px;
  width: 100%;
  height: 20px;
  line-height: 55px;
}

.platform__block {
  max-height: 0;
  overflow: hidden;
}

.platform__block__text {
  font-weight: var(--light);
  font-size: 16px;
  line-height: 24px;
  width: 750px;
  margin-left: 410px;
  padding-bottom: 50px;
}

.platform__block__text__link {
  color: var(--color-pink);
  transition: var(--time);
}

.platform__block__text__link:hover {
  text-decoration: underline;
}

.platform__line {
  width: var(--base-width);
  background: var(--color-dark-gray);
  height: 2px;
  position: absolute;
  margin-top: 0;
}

.platform__faq:after {
  color: var(--color-dark-gray);
  font-weight: var(--medium);
  transition: var(--time);
  content: '\002B';
  font-size: 28px;
  height: 28px;
  position: relative;
  right: 20px;
  top: 12px;
}

.platform__faq_active:after {
  content: "\2212";
}

.platform__faq:hover:after {
  color: var(--color-black);
}

/* platform */



/* blog */

.blog {
  margin-bottom: 100px;
}

.blog__title {
  margin: 0 0 50px 0;
}

.blog__content__article {
  background: var(--color-gray);
  width: 560px;
  padding: 20px;
  border-radius: 30px;
  margin-bottom: 60px;
}

.blog__content__article:first-of-type {
  margin-right: 30px;
}

.blog__content__article__img {
  border-radius: var(--radius-small);
  height: 270px;
  display: block;
  width: 100%;
  margin-bottom: 15px;
}

.blog__content__article__img_cover:before {
  position: absolute;
  content: "";
  height: 270px;
  width: 545px;
}

.blog__content__article__img_cover-1:before {
  background: url("../img/icon/blog-icon-1.svg");
}

.blog__content__article__img_cover-2:before {
  background: url("../img/icon/blog-icon-2.svg");
}

.blog__content__article__title {
  font-size: 26px;
  line-height: 26px;
  margin-bottom: 20px;
  margin-top: -15px;
}

.blog__content__article__text {
  color: var(--color-dark-gray);
  font-size: 16px;
  line-height: 20px;
}

.blog__content__article__title,
.blog__content__article__text {
  font-weight: var(--medium);
  width: 420px;
  margin-left: 0;
}

.blog__content__article__tag {
  font-weight: var(--medium);
  color: var(--color-dark-gray);
  font-size: 14px;
  line-height: 16px;
  display: inline-block;
}

.blog__content__article__link {
  background: var(--color-light-green);
  border-radius: var(--radius-small);
  color: var(--color-white);
  transition: var(--time);
  width: 100px;
  text-align: center;
  line-height: 48px;
  font-size: 14px;
  height: 48px;
  display: flex;
  margin-right: 0;
  margin-top: -18px;
}

.blog__content__article__link::before {
  background: url("../img/icon/arrow.svg");
  position: absolute;
  content: "";
  width: 28px;
  height: 13px;
  margin: 5px 0 0 35px;
}

.blog__content__article__link:hover {
  background: var(--color-black);
}

.blog__content__article__link__text {
  margin-top: 6px;
  display: block;
}

.blog__more {
  color: var(--color-white);
  background: var(--color-black);
  transition: var(--time);
  font-weight: var(--medium);
  border: var(--border);
  font-size: 16px;
  display: block;
  width: 100%;
  text-align: center;
  line-height: 46px;
}

.blog__more:hover {
  background: var(--color-white);
  color: var(--color-black);
}

.blog .container:nth-child(2) {
  display: block;
}

.blog__tab {
  display: flex;
  margin-bottom: 30px;
}

.blog__tab__link:hover,
.blog__tab__link_active {
  background: var(--color-black);
  color: var(--color-white);
}

.blog__tab__link {
  transition: var(--time);
  border-radius: var(--radius-big);
  border: var(--border);
  font-weight: var(--light);
  padding-left: 25px;
  padding-right: 25px;
  line-height: 44px;
  height: 44px;
  font-size: 16px;
  margin: 0 0 0 5px;
  cursor: pointer;
}

.blog__tab__link:first-of-type {
  margin-left: 0;
}

/* blog */



/* email */

.email {
  margin-bottom: 30px;
}

.email .container {
  display: block;
}

.email__title {
  font-weight: var(--medium);
  font-size: 70px;
  line-height: 70px;
  text-align: center;
  margin-bottom: 30px;
  width: 100%;
}

.email__form {
  border-radius: var(--radius-small);
  background: var(--color-gray);
  height: 446px;
}

.email__form__input, 
.email__form__textarea {
  border: 2px solid var(--color-white);
  background: var(--color-white);
  border-radius: var(--radius-small);
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
}

.email__form__submit {
  border: 2px solid var(--color-light-green);
  background: var(--color-light-green);
  color: var(--color-white);
  transition: var(--time);
  margin-top: -6px;
  margin-left: 190px;
  width: 820px;
  cursor: pointer;
  line-height: 44px;
}

.email__form__input, 
.email__form__textarea,
.email__form__submit {
  font-weight: var(--medium);
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

.email__form__submit:hover {
  border: 2px solid var(--color-light-green);
  color: var(--color-light-green);
  background: var(--color-gray);
}

.email__form__input:focus,
.email__form__textarea:focus {
  border: 2px solid var(--color-light-green);
}

.email__form__input {
  width: 366px;
  line-height: 44px;
  margin-top: 70px;
}

.email__form__input:first-of-type {
  margin-right: 20px;
  margin-left: 190px;
}

.email__form__textarea {
  width: 786px;
  min-height: 136px;
  resize: none;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 190px;
}

::placeholder { 
  color: var(--color-black);
  opacity: 1;
}

:-ms-input-placeholder { 
  color: var(--color-black);
}

::-ms-input-placeholder {
  color: var(--color-black);
}

/* email */



/* footer  */
.footer {
  margin-bottom: 70px;
}

.footer__block {
  margin-left: 0;
  margin-bottom: 70px;
}

.footer__block__title {
  font-weight: var(--medium);
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 30px;
}

.footer__title {
  font-weight: var(--medium);
  font-size: 14px;
  line-height: 14px;
  margin: 0 auto 0 auto;
}

.footer__title__link {
  transition: var(--time);
}

.footer__title__link:hover {
  color: var(--color-light-green);
  text-decoration: underline;
}

.footer__block__method {
  border-radius: var(--radius-small);
  background: var(--color-gray);
  display: inline-block;
  width: 128px;
  height: 48px;
  margin: 0; 
}

.footer__block__method:before {
  height: 46px;
  width: 68px;
  position: absolute;
  content: "";
  margin: 0 0 0px 30px;
}

.footer__block__method_paypal:before  {
  background: url("../img/payment/paypal.svg");
}

.footer__block__link {
  border-radius: var(--radius-big);
  font-weight: var(--medium);
  transition: var(--time);
  border: var(--border);
  display: inline-block;
  line-height: 44px;
  font-size: 16px;
}

.footer__block__link__text {
  margin-left: 50px;
}

.footer__block__link:hover {
  color: var(--color-white);
  background: var(--color-black);
}

.footer__block__link_instagram:before {
  background: url("../img/social/instagram-dark.svg");
}

.footer__block__link_tiktok:before {
  background: url("../img/social/tiktok-dark.svg");
}

.footer__block__link:hover.footer__block__link_tiktok:before {
  background: url("../img/social/tiktok-light.svg");
}

.footer__block__link:hover.footer__block__link_instagram:before {
  background: url("../img/social/instagram-light.svg");
}

.footer__block__link:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  margin: 12px 0 0 22px;
}

.footer__block__link_instagram {
  width: 156px;
}

.footer__block__link_tiktok {
  width: 125px;
}

/* footer */
